<p style="color: green"><%= notice %></p>

<%= render @slide %>

<div>
  <%= link_to "Edit this slide", edit_slide_path(@slide) %> |
  <%= link_to "Back to slides", slides_path %>

  <%= button_to "Destroy this slide", @slide, method: :delete %>
</div>
