<div id="<%= dom_id empresa %>">
  <p>
    <strong>Nome:</strong>
    <%= empresa.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= empresa.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= empresa.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= empresa.email %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= empresa.facebook %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= empresa.instagram %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= empresa.youtube %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= empresa.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= empresa.longitude %>
  </p>

</div>
